/* 
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line Heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph Default: 1.6

- Letter Spacing:
-0.5px
-1px
1px

- Font size:
Default: 20px

--- 02 COLORS
- Primary: 
- Tints: 
- Shades: 
- Accents: 
- Grays: 
#555
#333

--- 03 COLORS
- MAIN: #0066ff
- TINTS: #e6f0ff #99c2ff
- SHADES: #005ce6

--- 04 BORDER RADIUS
Default: 4px

--- 06 WHITE SPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1REM = 10PX */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--align-v {
  align-items: center;
}

.flex {
  display: flex;
}

.flex--align-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  line-height: 1.05;
  text-transform: capitalize;
}

.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 2.4rem;
  letter-spacing: -1px;
}

.heading-secondary {
  font-size: 4.4rem;
  letter-spacing: -0.5px;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.subheading {
  color: #005ce6;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn--main,
.btn--main:link,
.btn--main:visited {
  background-color: #0066ff;
  color: #fff;
}

.btn--main:hover,
.btn--main:hover,
.btn--main:active {
  cursor: pointer;
  background-color: #005ce6;
}

.btn--secondary:link,
.btn--secondary:visited {
  border: 2px solid #bbb;
  color: #333;
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: #bbb;
  color: #fff;
}

.to-page-link:link,
.to-page-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;

  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 4.8rem;
  padding: 1.2rem 2.4rem;
  background-color: #0066ff;
  border-radius: 4px;
  transition: all 0.3s;
}

.to-page-link:hover,
.to-page-link:active {
  background-color: #005ce6;
  color: #fff;
}

.contact-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.contact-link:hover,
.contact-link:active {
  color: #333;
}

/* HELPER CLASSES */

.hidden {
  display: none !important;
}

.hidden-secondary {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  transition: all 0.3s;
}

.center-text {
  text-align: center;
}

.margin-bottom-sm {
  margin-bottom: 1.8rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-bg {
  margin-bottom: 9.6rem !important;
}

.grid-row-gap-bg {
  row-gap: 9.6rem !important;
}

/* SITE-WIDE SECTIONS */

/************************************/
/* NAVIGATION */
/************************************/

.navigation {
  background-color: #99c2ff;
  position: relative;
}

.navigation-logo {
  height: 100%;
}

.navigation-logo:hover {
  cursor: pointer;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;

  font-size: 2rem;
}

.navigation-links {
  gap: 3.2rem;
  list-style: none;
  display: flex;
  align-items: center;
}

.services-btn {
  color: #333;
  font-weight: 600;
  font-size: inherit;
  background-color: transparent;
  border: none;
  font-family: "Playfair Display";
}

.services-btn:hover {
  cursor: pointer;
  color: #555;
}

.navigation-links li a:link,
.navigation-links li a:visited {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: all 0.3s;
}

.navigation-links li a:hover,
.navigation-links li a:active {
  color: #555;
}

.navigation-links li:last-child a:link,
.navigation-links li:last-child a:visited {
  color: #fff;
}

.services-content {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  padding: 2.4rem 1.2rem;
  border-radius: 4px;
  font-size: 1.8rem;
  background-color: #fff;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s;
}

.open .services-content {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.services-content:hover a {
  color: #555;
}

/* Nav Modal */
.btn-contact {
  font-family: inherit;
  width: fit-content;
}

.modal-contact {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #001f4c;
  padding: 12.8rem 4.8rem;
  /* background-color: #e6f0ff; */
  border-radius: 4px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  width: 60%;
  z-index: 10;
  transition: all 0.3s;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
  cursor: pointer;
}

.contact-text {
  color: #e6f0ff;
}

.contact-heading {
  color: #e6f0ff;
  margin-bottom: 3.2rem !important;
}

.contact-description {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  line-height: 1.3;
}

.btn--contact:link,
.btn--contact:visited {
  background-color: #fff;
  color: #001f4c;
  font-size: 1.8rem;
  font-weight: 700;

  display: inline-block;
  margin-right: 2.4rem;
}

.btn--contact:last-child {
  margin-right: 0;
}

.btn--contact:hover,
.btn--contact:active {
  background: transparent;
  color: #e6f0ff;
  box-shadow: inset 0 0 0 2px #e6f0ff;
}

.contact-logo {
  width: 50%;
  transform: scale(2);
  justify-self: center;
}

/* Mobile Nav */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/************************************/
/* FOOTER */
/************************************/

.footer {
  padding: 12.8rem 0 9.6rem;
  border-top: 1px solid #eee;
}

.footer-logo {
  width: 60%;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 4rem;
}

.footer-list {
  list-style: none;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #333;
}
.grid--footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6.4rem;
}
