/************************************/
/* HERO */
/************************************/

.section-hero {
  padding: 9.6rem 0;
  background-color: #e6f0ff;
  padding-bottom: 9.6rem;
}

.hero-text {
  text-transform: capitalize;
}

.hero-description {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #555;
  margin-bottom: 3.2rem;
}

.hero-emphasize {
  font-style: italic;
  font-weight: 600;
  font-size: 2.4rem;
  color: #333;
}

.hero-vid-container {
  justify-content: space-around;
}

.hero-vid {
  width: 65%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

/************************************/
/* SERVICES */
/************************************/

.section-services {
  padding: 9.6rem 0;
}

.heading-services,
.services-de-emp {
  text-transform: capitalize;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

.heading-services {
  color: #333;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.services-de-emp {
  color: #444;
  font-size: 3rem;
  font-weight: 600;
}

.services-grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  align-items: center;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
}

.step-aside {
  grid-row: span 4;
  background-color: #005ce6;
  align-self: stretch;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.step-number {
  font-size: 12rem;
  color: #99c2ff;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.6;
}

.at-carousel,
.step-vid-container,
.carousel-baseball,
.ps-carousel {
  justify-content: space-around;
}

.at-carousel .carousel-baseball,
.ps-carousel {
  position: relative;
}

.baseball-btn,
.ps-btn,
.at-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.2rem;
  border-radius: 50%;
}

.baseball-btn:hover,
.ps-btn:hover,
.at-btn:hover {
  cursor: pointer;
}

.baseball-btn-next,
.ps-btn-next,
.at-btn-next {
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.baseball-btn-prev,
.ps-btn-prev,
.at-btn-prev {
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

.slider {
  width: 26rem;
  height: 46rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
}

.slideAt,
.slidePs,
.slideBs {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.slideAt > img,
.slidePs > img,
.slideBs > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-vid,
.consulting-img,
.baseball-img,
.ps-img,
.at-img {
  width: 60%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);

  animation-name: simpleTrans;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-play-state: running;
}
.consulting-img {
  box-shadow: none;
}

@keyframes simpleTrans {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

/************************************/
/* CLIENT PROFILES */
/************************************/

.section-profiles {
  padding: 9.6rem 0;
}

.profile {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s;
}

.profile:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.05);
}

.profile-img {
  width: 100%;
}

.profile-text {
  padding: 3.2rem 2.4rem;
}

.profile-name {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.profile-age {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.profile-history {
  font-size: 1.8rem;
}

/************************************/
/* TESTIMONIALS */
/************************************/

.section-testimonials {
  padding: 9.6rem 0;
  background-color: #e6f0ff;
}

.testimonial-container {
  position: relative;
  height: 37rem;
  display: flex;
  justify-content: center;
}

.testimonial-overflow {
  overflow: hidden;
}

.testimonial {
  position: absolute;
  top: 0;
  left: 0;
  height: 37rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.testimonial-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 1.2rem;
  color: #333;
}

.testimonial-author {
  font-size: 1.6rem;
}

.testimonial-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  font-size: 2.4rem;
  line-height: 1;

  position: absolute;
}

.btn-prev {
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: all 0.3s;
}

.btn-next {
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  transition: all 0.3s;
}

.btn-prev:hover,
.btn-next:hover {
  cursor: pointer;
}

/************************************/
/* AGING AND HORMONES */
/************************************/

.section-aging {
  padding: 9.6rem 0;
}

.aging-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  margin-bottom: 8rem;
}

.aging-list-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  padding: 3.2rem;
  border-radius: 4px;
  width: 60%;
  background-color: #f0f6ff;
}

.aging-list-container:nth-child(1) {
  justify-self: end;
}

.aging-list-heading {
  margin-bottom: 4.8rem;
  color: #003380 !important;
}

.aging-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/************************************/
/* CTA */
/************************************/

.section-cta {
  padding: 9.6rem 0 12.8rem;
}

.cta {
  padding: 4.8rem;
  background-color: #e6f0ff;
  border-radius: 4px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4.8rem;
}

.cta-text {
  display: flex;
  flex-direction: column;
}

.cta-text a {
  width: fit-content;
}

.cta-heading {
  margin-bottom: 3.2rem;
  color: #001433 !important;
}

.cta-description {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  line-height: 1.6;
  color: #001433;
}

.contact-info {
  display: flex;
  gap: 9.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: auto;
  text-transform: lowercase;
}

.cta-img {
  width: 100%;
}
