.aging-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  margin-bottom: 8rem;
}

.aging__list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  width: 60%;
  background-color: #f0f6ff;

  &:nth-child(1) {
    justify-self: end;
  }
}

.aging__list-heading {
  margin-bottom: 4.8rem;
  color: var(--color-primary-800) !important;
}

.aging__list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
