.section--hero {
  padding: 9.6rem 0;
  padding-top: calc(9.6rem + var(--nav-height));
  background-color: var(--color-primary-50);
}

.hero-wrapper {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.hero__text {
  text-transform: capitalize;

  // 1000px
  @media (max-width: 62.5em) {
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;
  }
}

.hero__description {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.6;
  color: var(--color-slate-600);
  margin-bottom: 4.8rem;

  // 500px
  @media (max-width: 31.25em) {
    font-size: 2rem;
  }
}

.hero__emphasize {
  font-style: italic;
  font-weight: 600;
  font-size: 2.2rem;
  color: #333;
  transition: all 0.2s;

  &:hover {
    color: var(--color-primary-800);
  }

  // 500px
  @media (max-width: 31.25em) {
    font-size: 2rem;
  }
}

.hero__videoWrapper {
  justify-content: space-around;
}

.hero__video {
  width: clamp(30rem, 70vw, 36rem);
  aspect-ratio: 5 / 9;
  overflow: hidden;
  pointer-events: none;
}
