/* 
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line Heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph Default: 1.6

- Letter Spacing:
-0.5px
-1px
1px

- Font size:
Default: 20px

--- 02 COLORS
- Primary: 
- Tints: 
- Shades: 
- Accents: 
- Grays: 
#555
#333

--- 03 COLORS
- MAIN: #0066ff
- TINTS: #e6f0ff #99c2ff
- SHADES: #005ce6 #003380

--- 04 BORDER RADIUS
Default: 4px

--- 06 WHITE SPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

#root {
  // scroll bug fix
  overflow: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;

  &--hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 2.4rem;
  }
}

.grid {
  display: grid;
  gap: 6.4rem;

  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--align-v {
    align-items: center;
  }
}

.flex {
  display: flex;

  &--align-v {
    align-items: center;
  }
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
}

.btn--main,
.btn--main:link,
.btn--main:visited {
  background-color: $color-primary;
  color: $color-white;
}

.btn--main:hover,
.btn--main:hover,
.btn--main:active {
  cursor: pointer;
  background-color: $color-primary;
}

.btn--secondary:link,
.btn--secondary:visited {
  border: 2px solid $color-gray-light;
  color: $color-text;
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: $color-gray-light;
  color: $color-white;
}

.to-page-link:link,
.to-page-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: $color-white;
  text-decoration: none;

  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 4.8rem;
  padding: 1.2rem 2.4rem;
  background-color: $color-primary;
  border-radius: 4px;
  transition: all 0.3s;
}

.to-page-link:hover,
.to-page-link:active {
  background-color: $color-primary;
  color: $color-white;
}
