html {
  /* 1REM = 10PX */
  font-size: 62.5%;
  overflow-x: hidden;

  // 1200px
  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  // 500px
  @media (max-width: 31.25em) {
    font-size: 50%;
  }
}

#root {
  // scroll bug fix
  overflow: hidden;
}

.section {
  padding: 9.6rem 0;

  &--bg-blue {
    background-color: var(--color-primary-tint-2);
  }

  &--bg-gray {
    background-color: var(--color-gray-lightest);
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;

  // 800px
  @media (max-width: 50em) {
    padding: 0 3.2rem;
  }
}

.grid {
  display: grid;
  gap: 6.4rem;

  &--2-cols {
    grid-template-columns: repeat(2, 1fr);

    // 1000px
    @media (max-width: 62.5em) {
      grid-template-columns: 1fr;
    }
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);

    // 1000px
    @media (max-width: 62.5em) {
      grid-template-columns: 1fr;
    }
  }

  &--align-v {
    align-items: center;
  }
}

.flex {
  display: flex;

  &--align-v {
    align-items: center;
  }
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  border: none;
  transition: all 0.2s;
}

.btn--cta,
.btn--cta:link,
.btn--cta:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;

  // 800px
  @media (max-width: 50em) {
    padding: 1.6rem 3.2rem;
  }
}

.btn--cta:hover,
.btn--cta:active {
  cursor: pointer;
  background-color: var(--color-primary-shade-1);
}

.btn--secondary:link,
.btn--secondary:visited {
  color: var(--color-primary);
  padding: 0.4rem;
  border-bottom: 1px solid var(--color-primary);
}

.btn--secondary:hover,
.btn--secondary:active {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-primary-tint-2);
  translate: 0 -2px;
}

.btn--contact:link,
.btn--contact:visited {
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  color: #001f4c;
}

.btn--contact:hover,
.btn--contact:active {
  background: transparent;
  color: #e6f0ff;
  box-shadow: inset 0 0 0 1px #e6f0ff;
}

.link-to-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}
