@import "../components/Button.scss";

html {
  /* 1REM = 10PX */
  font-size: 62.5%;
  overflow-x: hidden;

  // 1200px
  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  // 500px
  @media (max-width: 31.25em) {
    font-size: 50%;
  }
}

#root {
  // scroll bug fix
  overflow: hidden;
}

.section {
  padding: 12.8rem 0;

  &--bg-blue {
    background-color: var(--color-primary-50);
  }

  &--bg-gray {
    background-color: var(--color-slate-50);
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;

  // 800px
  @media (max-width: 50em) {
    padding: 0 3.2rem;
  }
}

.grid {
  display: grid;
  gap: 6.4rem;

  &--2-cols {
    grid-template-columns: repeat(2, 1fr);

    // 1000px
    @media (max-width: 62.5em) {
      grid-template-columns: 1fr;
    }
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);

    // 1000px
    @media (max-width: 62.5em) {
      grid-template-columns: 1fr;
    }
  }

  &--align-v {
    align-items: center;
  }
}

.flex {
  display: flex;

  &--align-v {
    align-items: center;
  }
}

.link-to-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.logo {
  max-width: 25rem;
}
