body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-slate-600);
}

p {
  font-size: 1.8rem;
}

.heading {
  font-weight: 700;
  color: var(--color-slate-800);
  line-height: 1.05;
  text-transform: capitalize;

  &--primary {
    font-size: 5.2rem;
    letter-spacing: -1px;

    // 500px
    @media (max-width: 31.25em) {
      font-size: 4.4rem;
    }
  }

  &--secondary {
    font-size: 4.4rem;
    letter-spacing: -0.5px;

    // 500px
    @media (max-width: 31.25em) {
      font-size: 3.6rem;
    }
  }

  &--tertiary {
    font-size: 3rem;
  }

  &--sub {
    color: var(--color-primary-600);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &--subtext {
    color: var(--color-slate-600);
    font-size: 3rem;
  }
}
