:root {
  --color-primary: #0066ff;
  --color-primary-tint-1: #99c2ff;
  --color-primary-tint-2: #e6f0ff;
  --color-primary-shade-1: #005ce6;
  --color-primary-shade-2: #003380;
  --color-primary-shade-3: #001433;

  --color-text: #333;
  --color-text-light-1: #555;
  --color-text-light-2: #888;

  --color-gray-light-1: #bbb;
  --color-gray-light-2: #ddd;
  --color-gray-lightest: #f7f7f7;

  --nav-height: 8rem;

  // NEW COLORS
  --color-white: #fff;

  --color-primary-base: "#0066FF";
  --color-primary-50: "#EBF3FF";
  --color-primary-100: "#D6E7FF";
  --color-primary-200: "#A8CBFF";
  --color-primary-300: "#80B3FF";
  --color-primary-400: "#579AFF";
  --color-primary-500: "#297EFF";
  --color-primary-600: "#0066FF";
  --color-primary-700: "#0050C7";
  --color-primary-800: "#00378A";
  --color-primary-900: "#002152";
  --color-primary-950: "#001433";

  --color-stone-50: "#F1F0EF";
  --color-stone-100: "#E4E3E1";
  --color-stone-200: "#CAC6C4";
  --color-stone-300: "#AFAAA6";
  --color-stone-400: "#958E89";
  --color-stone-500: "#78716C";
  --color-stone-600: "#615B57";
  --color-stone-700: "#484441";
  --color-stone-800: "#302D2B";
  --color-stone-900: "#181716";
  --color-stone-950: "#0B0A0A";

  --penn-state: #011d3f;
}
