:root {
  --nav-height: 8rem;

  // NEW COLORS
  --color-white: #fff;

  --color-primary-base: #0066ff;
  --color-primary-50: #ebf3ff;
  --color-primary-100: #d6e7ff;
  --color-primary-200: #a8cbff;
  --color-primary-300: #80b3ff;
  --color-primary-400: #579aff;
  --color-primary-500: #297eff;
  --color-primary-600: #0066ff;
  --color-primary-700: #0050c7;
  --color-primary-800: #00378a;
  --color-primary-900: #002152;
  --color-primary-950: #001433;

  --color-slate-50: #f1f2f3;
  --color-slate-100: #e0e2e5;
  --color-slate-200: #c2c5cc;
  --color-slate-300: #a6abb5;
  --color-slate-400: #888e9b;
  --color-slate-500: #6b7280;
  --color-slate-600: #565c67;
  --color-slate-700: #41454e;
  --color-slate-800: #2e3138;
  --color-slate-900: #1a1b1f;
  --color-slate-950: #0e0f11;

  --penn-state: #011d3f;
}
