:root {
  --color-primary: #0066ff;
  --color-primary-tint-1: #99c2ff;
  --color-primary-tint-2: #e6f0ff;
  --color-primary-shade-1: #005ce6;
  --color-primary-shade-2: #003380;
  --color-primary-shade-3: #001433;

  --color-primary-50: #edf8ff;
  --color-primary-100: #d6efff;
  --color-primary-200: #b5e4ff;
  --color-primary-300: #83d5ff;
  --color-primary-400: #48bcff;
  --color-primary-500: #1e9aff;
  --color-primary-600: #067aff;
  --color-primary-700: #0066ff;
  --color-primary-800: #084ec5;
  --color-primary-900: #0d469b;
  --color-primary-950: #0e2b5d;

  --color-text: #333;
  --color-text-light-1: #555;
  --color-text-light-2: #888;

  --color-gray-light-1: #bbb;
  --color-gray-light-2: #ddd;
  --color-gray-lightest: #f7f7f7;

  --color-white: #fff;

  --nav-height: 8rem;

  --penn-state: #011d3f;
}
