@use "../../abstracts/mixins.scss" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;

  // 1000px
  @media (max-width: 62.5em) {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 6.4rem;
  }
}

.image {
  width: 30rem;
  aspect-ratio: 5 / 9;
  object-fit: cover;
  object-position: 75%;
}

.text {
  @include text-container-width;
  grid-column: span 2;

  // 1000px
  @media (max-width: 62.5em) {
    grid-column: span 1;
    margin-bottom: 2.2rem;

    &:nth-child(1) {
      grid-row: 2;
    }
  }

  & p {
    font-size: 2rem;
    line-height: 1.6;
  }
}

.btn {
  grid-column: 1 / -1;
  justify-self: center;
}
