.section-services {
  padding: 9.6rem 0;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
}

.step__description {
  font-size: 2rem;
  line-height: 1.6;
}

.services__heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

// .at-carousel,
// .step-vid-container,
// .carousel-baseball,
// .ps-carousel {
//   justify-content: space-around;
// }

// .at-carousel .carousel-baseball,
// .ps-carousel {
//   position: relative;
// }

// .baseball-btn,
// .ps-btn,
// .at-btn {
//   position: absolute;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 2.4rem;
//   border: none;
//   background-color: rgba(255, 255, 255, 0.5);
//   padding: 1.2rem;
//   border-radius: 50%;
// }

// .baseball-btn:hover,
// .ps-btn:hover,
// .at-btn:hover {
//   cursor: pointer;
// }

// .baseball-btn-next,
// .ps-btn-next,
// .at-btn-next {
//   top: 50%;
//   right: 0;
//   transform: translate(0%, -50%);
// }

// .baseball-btn-prev,
// .ps-btn-prev,
// .at-btn-prev {
//   top: 50%;
//   left: 0;
//   transform: translate(0%, -50%);
// }

// .slider {
//   width: 26rem;
//   height: 46rem;
//   position: relative;
//   overflow: hidden;
//   margin: 0 auto;
//   border-radius: 4px;
// }

// .slideAt,
// .slidePs,
// .slideBs {
//   position: absolute;
//   top: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
//   transition: transform 0.3s;
// }

// .slideAt > img,
// .slidePs > img,
// .slideBs > img {
//   /* Only for images that have different size than slide */
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .step-vid,
// .consulting-img,
// .baseball-img,
// .ps-img,
// .at-img {
//   width: 60%;
//   height: 100%;
//   border-radius: 4px;
//   box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);

//   animation-name: simpleTrans;
//   animation-duration: 0.5s;
//   animation-delay: 0s;
//   animation-play-state: running;
// }
// .consulting-img {
//   box-shadow: none;
// }
