.profiles {
  display: flex;
  justify-content: space-between;

  // 1000px
  @media (max-width: 62.5em) {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-gray-light-2);
  padding: 0.8rem;

  &__image {
    max-width: 30rem;
  }

  &__textWrapper {
    padding: 2.4rem 0;
    text-align: center;
  }

  &__name {
    font-size: 2.4rem;
    color: var(--color-primary-shade-2);
    margin-bottom: 1.6rem;
  }

  &__age {
    font-size: 2rem;
    margin-bottom: 0.8rem;

    & span {
      font-size: 2.4rem;
    }
  }

  &__history {
    font-size: 1.8rem;
  }
}
