.profiles {
  display: flex;
  justify-content: space-between;

  // 1000px
  @media (max-width: 62.5em) {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  position: relative;

  &__image {
    max-width: 30rem;
    position: relative;
  }

  &__textWrapper {
    padding: 4.8rem 0;
    padding-top: 3.2rem;
    text-align: center;
  }

  &__name {
    font-size: 2.4rem;
    color: var(--color-primary-shade-2);
    margin-bottom: 1.6rem;
  }

  &__age {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  &__history {
    font-size: 2rem;
  }
}
