@use "../abstracts/mixins.scss" as *;

.section--cta {
  padding: 9.6rem 0 12.8rem;
}

.cta {
  padding: 4.8rem;
  background-color: #e6f0ff;
  display: flex;
  // justify-content: center;

  // 1000px
  @media (max-width: 62.5em) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.4rem;
  }

  // 500px
  @media (max-width: 31.25em) {
    padding: 3.2rem;
  }
}

.cta__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include text-container-width;

  // 1000px
  @media (max-width: 62.5em) {
    align-items: center;
    text-align: center;
  }
}

.cta__heading {
  margin-bottom: 1.8rem;
  color: var(--color-primary-shade-3) !important;
}

.cta__description {
  font-size: 2rem;
  margin-bottom: 3.2rem;
  line-height: 1.6;
  color: var(--color-primary-shade-3);
}

.cta__img {
  max-width: 25rem;
  margin: 0 auto;
}
