.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-primary-900);
  padding: 9.6rem 4.8rem;
  width: clamp(30rem, 80vw, 50rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;

  z-index: 9999;
  transition: all 0.3s;

  &__icon {
    color: #fff;
    width: 3.2rem;
    height: 3.2rem;
  }

  // 800px
  @media (max-width: 50em) {
    padding: 8rem 3.2rem;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 3.2rem;
  width: 3.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__content {
  color: var(--color-primary-50);
  text-align: center;
  // width: max-content;
}

.modal__heading {
  color: var(--color-primary-50) !important;
}

.modal__description {
  font-size: 1.8rem;
  line-height: 1.3;
}

.modal__info-wrapper {
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  align-items: center;
}

.modal__logo {
  max-width: 15rem;
  transform: scale(2);
  justify-self: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  transition: all 0.3s;
}
