@use "../abstracts/mixins" as *;

.testimonial {
  position: relative;
  padding-left: 9rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -5.5rem;
    left: 0rem;
    line-height: 1;
    font-size: 20rem;
    font-family: inherit;
    color: var(--color-primary-tint-1);

    // 800px
    @media (max-width: 50em) {
      display: none;
    }
  }

  // 800px
  @media (max-width: 50em) {
    padding: 0;
  }
}

.testimonial__text {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--color-text);
  @include text-container-width;

  & span {
    font-size: 4.4rem;
    color: var(--color-primary-shade-2);
    line-height: 1;
  }
}
