.sectionTestimonials {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("/assets/images/beach-bg-1x.webp");
  background-size: cover;

  // 1000px
  @media (max-width: 62.5em) {
    background-position: 50%;
  }

  @media (min-resolution: 192dpi) and (min-width: 62.5em) {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.85)
      ),
      url("/assets/images/beach-bg-2x.webp");
  }
}

.testimonialWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}
