.navigation {
  background-color: #99c2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  font-size: 2rem;

  &__logoWrapper {
    height: 100%;
  }

  &__services button {
    color: #333;
    font-weight: 600;
    font-size: inherit;
    background-color: transparent;
    border: none;
    font-family: "Playfair Display";
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      color: #555;
    }
  }

  &__list {
    display: flex;
    gap: 3.2rem;
    list-style: none;
    align-items: center;

    & li {
      transition: all 0.2s;

      & a:link,
      & a:visited {
        text-decoration: none;
        color: #333;
        font-weight: 600;
      }

      & a:global(.active) {
        border-bottom: 1px solid #333;
      }
    }
  }
}

.navLogo {
  height: 100%;
  transition: all 0.2s;
}

.navLogo:hover {
  cursor: pointer;
}
