header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 4.8rem;
  position: fixed;
  z-index: 999;

  // 1000px
  @media (min-width: 62.6em) {
    &:hover {
      .navigation__list li {
        opacity: 0.5;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  transition: all 0.2s ease-out;

  &__logoWrapper {
    height: 100%;
  }

  &__list {
    display: flex;
    gap: 3.2rem;
    list-style: none;
    align-items: center;

    & li {
      transition: all 0.2s;

      & a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        font-size: 1.8rem;
      }

      &:hover {
        opacity: 1 !important;
      }

      & a:global(.active) {
        border-bottom: 1px solid var(--color-primary);
      }
    }

    // 1000px
    @media (max-width: 62.5em) {
      flex-direction: column;
    }
  }

  &__icon {
    color: #333;
    width: 1.4rem;
    height: 1.4rem;
    translate: 0 1px;
  }

  &__mobile-btn {
    display: none;

    & span {
      display: block;
      width: 4.8rem;
      height: 2px;
      background-color: var(--color-text);
      position: relative;
      transition: all 0.2s;
    }

    & span::after,
    & span::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333;
      transition: all 0.2s;
    }

    & span::after {
      top: -1rem;
    }

    & span::before {
      top: 1rem;
    }

    // 1000px
    @media (max-width: 62.5em) {
      display: block;
      background: none;
      border: none;
    }
  }

  // 1000px
  @media (max-width: 62.5em) {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    translate: 100% 0;
  }
}

:global(.open) {
  & .navigation {
    translate: 0 0;

    &__mobile-btn span {
      background-color: transparent;

      &::before {
        rotate: -45deg;
        top: 0;
      }

      &::after {
        rotate: 45deg;
        top: 0;
      }
    }
  }
}

.sticky-bg {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: -1;
  translate: 0 -100%;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.1s;
}

:global(.sticky) {
  .sticky-bg {
    translate: 0 0;
  }
}

.dropdown-parent {
  position: relative;

  & a {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    & button {
      background: none;
      border: none;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }

    & span {
      transition: all 0.2s;
    }
  }
}

.dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 1.2rem;
  z-index: 10;
  transition: all 0.3s;
}

.dropdown {
  background-color: #fff;
  width: max-content;
  padding: 1.8rem;
  border-top: 2px solid var(--color-primary);

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
  }
}

.dropdown-hidden {
  opacity: 0;
  translate: 0 -1.2rem;
  visibility: hidden;
  pointer-events: none;
}

.navLogo {
  height: 100%;
  transition: all 0.2s;
}

.navLogo:hover {
  cursor: pointer;
}

@keyframes slideDown {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0 0;
  }
}
